body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.profile {
  display: flex;
}

.profile-image {
  flex: 0 0 170px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.profile-picture {
  width: 100%;
  height: auto;
  position: relative;
}

.small-image {
  position: absolute;
  top: -15px;
  left: -10px;
  width: 30px; 
  height: 30px; 
}


.profile-info {
  flex: 1;
}

.profile-info h2 {
  margin-top: 0;
}

.profile-info p {
  margin-bottom: 10px;
}

.text-edit-img {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.text-edit-img img {
  width: 100%;
  height: 100%;
}

.btn-save-changes{
  border: none !important;
  border-radius: 10px !important;
  background-color: #333 !important;
  color: #fff !important;
  cursor: pointer !important;
  /* bisque */
}
.btn-save-changes:hover{
  background-color: #7453c3 !important;
  color: #fff !important;
}


.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drop-area {
  width: 170px;
  height: 170px;
  margin-right: 20px;
  border: 2px dashed gray;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  display: none; /* Ocultar el drop area inicialmente */
}

#select-file-btn{
  margin-top: 10px;
  margin-right: 20px;
  width: 170px;
  height: 30px;
  border: none !important;
  border-radius: 10px !important;
  background-color: #333 !important;
  color: #fff !important;
  cursor: pointer !important;
  display: none; /* Ocultar el drop area inicialmente */
}

#select-file-btn:hover{
  background-color: #7453c3 !important;
  color: #fff !important;
}