/* Google Fonts: Ubunto Mono */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
}

.gecko html {
    overflow: -moz-hidden-unscrollable;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    scroll-behavior: unset;
}

body{
    background-image: linear-gradient(to top, #454545, #bcbcbc); 
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin-top: 5%;
}

:focus {
    border: solid #7453c3 !important;
    outline-color: solid #7453c3 !important;
}

.password-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
#register-button {
    margin-top: 5%;
    margin-bottom: 5%;

    width: 100%;
    height: 80%;

    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #212529;
    color: #fff;
    cursor: pointer;
}

#register-button:hover {
    background-color: #7453c3;
}

.enlace a {
    color: white !important;
}

.enlace a:hover {
    color: #7453c3 !important;
    font-weight: bold;
}

.error-message {
    color: red;
    margin-top: 5px;
}


.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"]  {
  /* total menos la imagen de mostrar contraseña*/
  /* width: calc(100% - 34px);  */
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="email"]:focus {
  outline: none;
  border-color: #212529;
  border-radius: 10px;
}

