{% extends "base.html" %}
{% block title %}Ayuda{% endblock %}

{% block content %}
<h1>AYUDA</h1>

  <p>Bienvenido a la página de ayuda de nuestra API. A continuación, encontrarás información útil para utilizar nuestros servicios de manera efectiva:</p>

  <h2>Documentación</h2>

  <p>La documentación de la API proporciona información detallada sobre los endpoints, parámetros, respuestas y ejemplos de uso. Te recomendamos revisarla para comprender cómo interactuar con nuestra API.</p>

  <p>Puedes acceder a la documentación en el siguiente enlace: <a href="#">Documentación de la API</a></p> <!--TODO-->

  <!--
  <h2>FAQs</h2>

  <p>Aquí tienes algunas preguntas frecuentes que pueden ayudarte a resolver dudas comunes:</p>

  <h3>3. ¿Cómo puedo reportar un problema o enviar comentarios?</h3>
  <p>Si encuentras algún problema con nuestra aplicación o tienes sugerencias para mejorarla, te animamos a contactarnos a través de GitHub.</p>
  -->

  <h2>Soporte técnico</h2>

  <p>Si necesitas asistencia adicional o tienes preguntas que no se responden en la documentación o en las FAQs, nuestro equipo de soporte técnico está aquí para ayudarte. Puedes comunicarte con nosotros a través de los siguientes canales:</p>

  <ul>
    <li>TODO </li>
    <li>TODO</li>
  </ul>

{% endblock %}
