{% extends "base.html" %}
{% block title %}Lista de Revistas{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item enlace-bc"><a href="/selection">{% trans %}Selección{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}Revistas{% endtrans %}</li>
    </ol>
</nav>
<h1>{% trans %}LISTA DE REVISTAS{% endtrans %}</h1>
<form class="mb-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ _('Buscar revistas') }}" id="search-input">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="search-button">{{ _('Buscar') }}</button>
        </div>
    </div>
</form>
<table id="journal-table" class="table">
    <thead>
        <tr>
            <th>{% trans %}Nombre{% endtrans %}</th>
            <th>{% trans %}ISSN{% endtrans %}</th>
            <th>{% trans %}Categoría{% endtrans %}</th>
            <th style="text-align: center;">{% trans %}JCR {% endtrans %} {{ journal_list[0][3][0] }}</th>
            <th style="text-align: center;">{% trans %}Cuartil {% endtrans %} {{ journal_list[0][3][0] }}</th>
        </tr>
    </thead>
    <tbody id="journal-table-body">
        {% for journal in journal_list %}
        <tr class="sorting-elem">
            <td class="accordion-toggle desplegar">{{ journal[0] }}</td>
            <td>{{ journal[1] }}</td>
            <td>{{ journal[2] }}</td>

            {% if journal[3][1] != 0.0 %}
            <td id="jcr-cell" style="text-align: center;">{{ journal[3][1] }}</td>
            {% else %}
            <td style="text-align: center;"> - </td>
            {% endif %}

            {% if journal[3][1] != 'None' %}
            <td id="cuartil-cell" style="text-align: center;">{{ journal[4][1] }}</td>
            {% else %}
            <td style="text-align: center;"> - </td>
            {% endif %}

        </tr>
        <tr class="collapse">
            <td colspan="4">
                <!-- Contenido adicional del acordeón -->
                <div class="row container-adicional">
                    <p class="text-adicional"><b>{% trans %}INFORMACIÓN ADICIONAL DE LA REVISTA{% endtrans %}</b></p>
                    <div class="col-md-6">
                        <p><b>{% trans %}JCR y cuartil de los últimos 5 años:{% endtrans %}</b></p>
                        <ul><li>{% trans %}Año - JCR - Cuartil{% endtrans %}</li></ul>
                        <ul class="lista-combined"></ul>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="pagination-container">
    <div id="pagination-buttons">
        <a class="btn-pag" onclick="firstPage()">
            <b id="first-pag"> &lt;&lt; </b>
        </a>
        <a class="btn-pag" onclick="previousPage()">
            <b id="prev-pag"> &lt; </b>
        </a>
        <a class="btn-pag" onclick="nextPage()">
            <b id="next-pag"> &gt; </b>
        </a>
        <a class="btn-pag" onclick="lastPage()">
            <b id="last-pag"> &gt;&gt; </b>
        </a>
    </div>
</div>

<!-- <button onclick="sortTable()">Ordenar</button>
<script>
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("journal-table");
        switching = true;

        // Establece la dirección inicial de clasificación como ascendente
        var sortDirection = "asc";

        // Mientras se esté realizando el cambio de elementos en la tabla
        while (switching) {
            switching = false;
            rows = table.getElementsByClassName("sorting-elem");

            // Recorre todas las filas, excepto la primera (encabezado)
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;

                // Obtiene el valor de las celdas actual y siguiente
                x = rows[i].getElementsByTagName("td")[3];
                y = rows[i + 1].getElementsByTagName("td")[3];

                // Comprueba si se debe cambiar la posición de las filas
                if (sortDirection === "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                    // if (Number(x.innerHTML) > Number(y.innerHTML)) {
                    //     shouldSwitch = true;
                    //     break;
                    // }
                } else if (sortDirection === "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                    // if (Number(x.innerHTML) < Number(y.innerHTML)) {
                    //     shouldSwitch = true;
                    //     break;
                    // }
                }
            }
            if (shouldSwitch) {
                // Cambia la posición de las filas
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;

                // Marca que se ha realizado un cambio
                // Cambia la dirección de clasificación para la próxima iteración
                if (sortDirection === "asc") {
                    sortDirection = "desc";
                } else if (sortDirection === "desc") {
                    sortDirection = "asc";
                }
            }
        }
    }
</script> -->

<!-- JQuery js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Charts js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Own js -->
<script src="{{ url_for('static', filename='journals.js') }}"></script>
<script src="{{ url_for('static', filename='pagination.js') }}"></script>

{% endblock %}