{% extends "base.html" %}
{% block title %}Perfil de usuario{% endblock %}

{% block content %}
<!-- Own css-->
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item enlace-bc"><a href="/selection">{% trans %}Selección{% endtrans %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans %}Perfil{% endtrans %}</li>
  </ol>
</nav>

<div class="row centrar">
  <div class="col-md-8 justify-content-center align-items-center">
    <h1>{% trans %}ÁREA DE USUARIO{% endtrans %}</h1>
    <div class="profile mt-4">
      <div class="profile-image">
        <img src="{{ url_for('static', filename='images/perfil.jpg') }}" alt="Imagen de perfil" class="profile-picture"
          id="profile-picture">
        <img src="{{ url_for('static', filename='images/edit_photo_bl.png') }}" alt="Imagen pequeña" class="small-image"
          id="small-image">
      </div>

      <div class="image-upload">
        <div id="drop-area">{% trans %}Arrastra y suelta una imagen aquí{% endtrans %}</div>
        <input type="file" id="file-input" style="display: none;">
        <button id="select-file-btn" type="submit">{% trans %}Seleccionar imagen{% endtrans %}</button>
      </div>

      <div class="profile-info">
        <h3 class="d-inline-block">{% trans %}Información de usuario{% endtrans %}
          <a onclick="habilitarEdicion()" class="d-inline-block">
            <div class="text-edit-img">
              <img src="{{ url_for('static', filename='images/edit_text_bl.png') }}" alt="Editar campos"
                class="icono-buscar" data-toggle="tooltip" title="Editar campos" id="edit-text">
            </div>
          </a>
        </h3>
        <form method="POST" action="/profile">
          <p><b>{% trans %}Nombre: {% endtrans %}</b><span id="nombre">{{ username }}</span></p>
          <p><b>{% trans %}Correo electrónico: {% endtrans %}</b><span id="correo">{{ email }}</span></p>
          <button class="btn btn-primary btn-save-changes" id="save-changes" type="submit" hidden>
            {% trans %}Guardar cambios{%endtrans %}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center align-items-center" logo3d>
    <img src="{{ url_for('static', filename='images/logo_bl.png') }}" alt="Logo" class="logo-derecha"
      style="margin-left: 100px;">
  </div>
</div>
<!-- Own js -->
<script src="{{ url_for('static', filename='profile.js') }}"></script>
{% endblock %}