{% extends "base.html" %}
{% block title %}Selección de Revistas{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{% trans %}Selección{% endtrans %}</li>
    </ol>
</nav>

<div class="row centrar">
    <div class="col-md-8 justify-content-center align-items-center">
        <form method="POST" action="/selection">

            <h1 class="d-inline-block">{% trans %}SELECCIÓN DE REVISTAS{% endtrans %}</h1>
            <a href="/revistas" class="d-inline-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="{{ url_for('static', filename='images/lista-rev-2.png') }}" alt="Buscar revistas"
                                class="icono-buscar" data-toggle="tooltip" title="Listado de revistas" id="lista-rev">
                        </div>
                    </div>
                </div>
            </a>

            <div class="form-group ">
                <label for="categoria">{% trans %}Categoría{% endtrans %}:</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option value="" disabled selected>{% trans %}Selecciona una opción{% endtrans %}</option>
                    {% for categoria in categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="revista">{% trans %}Revista{% endtrans %}:</label>
                <select class="form-control" id="revista" name="revista" required>
                    <option value="" disabled selected>{% trans %}Selecciona una opción{% endtrans %}</option>
                    {% for revista in revistas %}
                    <option value="{{ revista }}">{{ revista }}</option>
                    {% endfor %}
                </select>
            </div>

            <h1 class="mt-4">{% trans %}MODELOS DE PREDICCIÓN{% endtrans %}</h1>
            <div class="form-group mb-4">
                <label for="modelo">{% trans %}Seleccionar modelos{% endtrans %}:</label>
                {% for modelo in modelos %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modelo_{{ loop.index }}" name="modelo[]"
                        value="{{ modelo.nombre }}">
                    <label class="form-check-label" for="modelo_{{ loop.index }}">
                        <strong>{{ modelo.nombre }}</strong> - RMSE: {{ modelo.rmse }}
                    </label>
                </div>
                {% endfor %}
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary btn-enviar" id="calcular-btn-consultar" name="action" 
                    value="consultar" disabled data-toggle="tooltip" data-placement="top"
                    title="{% trans %}Seleccione una revista y su categoría{% endtrans %}">
                    {% trans %}Histórico JCR{% endtrans %}
                </button>
                <button type="submit" class="btn btn-primary btn-enviar" id="calcular-btn-predecir" name="action"
                    value="predecir" disabled data-toggle="tooltip" data-placement="top"
                    title="{% trans %}Rellene todos los campos{% endtrans %}">
                    {% trans %}Predecir JCR{% endtrans %}
                </button>
            </div>

        </form>
    </div>

    <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="{{ url_for('static', filename='images/logo_bl.png') }}" alt="Logo" class="logo-derecha" style="margin-left: 100px;">
    </div>
</div>

<!-- JQuery js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Own js -->
<script src="{{ url_for('static', filename='selection.js') }}"></script>

{% endblock %}
