{% extends "base.html" %}
{% block title %}Términos de uso{% endblock %}

{% block content %}

<h1>TÉRMINOS DE USO</h1>

<p>Al utilizar nuestra aplicación, aceptas cumplir con los siguientes términos y condiciones:</p>

<h2>Uso autorizado</h2>

<p>Está permitido utilizar nuestra aplicación para:</p>
<ul>
  <li>Acceder y consumir los servicios proporcionados por la aplicación</li>
  <li>Integrar la aplicación en su propias aplicaciones y servicios</li>
</ul>

<h2>Restricciones de uso</h2>

<p>Queda estrictamente prohibido:</p>
<ul>
  <li>Acceder o intentar acceder a áreas no autorizadas de la aplicación</li>
  <li>Utilizar la aplicación con fines ilegales o no autorizados</li>
  <li>Realizar actividades que puedan interferir con el funcionamiento de la aplicación o afectar la seguridad de la misma</li>
  <li>Distribuir, sublicenciar o revender la aplicación a terceros sin nuestro consentimiento previo por escrito</li>
</ul>

<h2>Propiedad intelectual</h2>

<p>Todos los derechos de propiedad intelectual relacionados con la aplicación y sus contenidos (a menos que se indique lo contrario) son propiedad de la Universidad de Burgos. No se otorga ninguna licencia o derecho sobre la propiedad intelectual de la aplicación, excepto lo expresamente establecido en estos términos de uso.</p>

<h2>Modificaciones</h2>

<p>Nos reservamos el derecho de modificar, suspender o descontinuar la aplicación (o cualquier parte de ella) en cualquier momento sin previo aviso. También podemos actualizar estos términos de uso ocasionalmente. Es tu responsabilidad revisar estos términos periódicamente y aceptar cualquier cambio antes de continuar utilizando la aplicación.</p>

<h2>Limitación de responsabilidad</h2>

<p>En ningún caso seremos responsables por daños directos, indirectos, incidentales, especiales, consecuentes o ejemplares que puedan surgir del uso o la imposibilidad de utilizar la aplicación.</p>

<h2>Terminación</h2>

<p>Podemos terminar su acceso a la aplicación en cualquier momento si incumple estos términos de uso. Además, usted también puede dejar de utilizar la aplicación en cualquier momento.</p>

<h2>Contacto</h2>

<p>Si tiene alguna pregunta o inquietud sobre estos términos de uso, no dude en ponerse en contacto con nosotros.</p>


{% endblock %}